<!-- 
    <div class="container-card ">
        <div class="card card1 cont-one" style="width: 50%;"> -->
            <!-- <div style="width: 500px; height: 600px; margin-left: 200px;"> -->
            <!-- <form class="row g-3" action="/admin/addauthor" enctype="multipart/form-data" method="post">
                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">Author Name</label>
                    <input type="text" class="form-control" name="authorName" id="authorName">
                </div>
 
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Short Discription</label>
                    <textarea type="text" name="Shortdis" class="form-control" id="inputAddress" placeholder=""></textarea>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Long Discription</label>
                    <textarea type="text" name="Longdis" class="form-control" id="inputAddress" placeholder=""></textarea>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Books</label>
                    <textarea type="text" name="Wbooks" class="form-control" id="inputAddress" placeholder=""></textarea>
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Upload Photo</label>
                    <input type="file" name="authorPhoto" class="form-control" id="inputGroupFile01">
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form> -->

            <!-- </div> -->
        <!-- </div>
    </div> -->



    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-center">Add Author</h2>
                    <form class="row g-3" action="/admin/addauthor" enctype="multipart/form-data" method="post">
                        <div class="col-md-12">
                            <label for="inputEmail4" class="form-label">Author Name</label>
                            <input type="text" class="form-control" name="authorName" id="authorName">
                        </div>
         
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Short Discription</label>
                            <textarea type="text" name="Shortdis" class="form-control" id="inputAddress" placeholder=""></textarea>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Long Discription</label>
                            <textarea type="text" name="Longdis" class="form-control" id="inputAddress" placeholder=""></textarea>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Books</label>
                            <textarea type="text" name="Wbooks" class="form-control" id="inputAddress" placeholder=""></textarea>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Upload Photo</label>
                            <input type="file" name="authorPhoto" class="form-control" id="inputGroupFile01">
                        </div>
        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


