


    <section>
        <div class="container mt-5">
          <div class="row">
            <%for(i=0; i<authors.length; i++){%>
            <div class="col-md-3 p-3 mr-5">
            <div class="card" style="width: 20rem;">
            <img height="200px" src="/images/authorImage/<%= authors[i].authorName%>.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=authors[i].authorName%></h5>
              <p class="card-text"><%=authors[i].Short%></p>
              <a href="/authors/<%=authors[i]._id%>" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
            </div>
  
            <% }%>
          </div>
        </div>


      </section>